# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env
backend/app/uploads/*
!backend/app/uploads/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/
frontend/packages/*/dist/
frontend/.env

.DS_Store
